@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

.back{
    margin-bottom: -150px;
    height: 250px;
    width: 400px;
    margin-top: 87%;
    margin-left: 58%;
    position: absolute;
    top: 0; left: 0;
    background:darkgray;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
}

.back .blackbar{
    margin-top: 4.5%;
    height: 20%;
    width: 100%;
    background-color: black;
}

.back .graybar{
    margin-left: 10%;
    margin-top: 6%;
    height: 15%;
    width: 80%;
    background-color: gray;
    border-radius: 5px;
}

.back .graybar p{
    padding-top: 6px;
    margin-left: 85%;
}



